        /* Minified and critical CSS here */
        #slides-container {
            position: relative;
            width: 92vw;
            height: 300px;
            overflow: hidden;
            margin: 0 auto;
        }

        .slide {
            opacity: 0;
            transition: opacity 1s ease-in-out;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .slide.active {
            opacity: 1;
            z-index: 1;
        }

        .slide:focus {
            outline: 2px solid #fff;
        }

        .backdrop {
            position: absolute;
            right: 0;
            width: 62%;
            height: calc(100% - -50px);
            object-fit: cover;
            object-position: center 20%;
            border-radius: 5px;
            z-index: 1;
        }

        .logo {
            position: absolute;
            top: 31%;
            left: 5%;
            transform: translateY(-50%);
            max-height: 60%;
            max-width: 30%;
            width: auto;
            z-index: 3;
        }

        .featured-content {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 50px;
            background-color: transparent;
            font-family: 'Noto Sans', sans-serif;
            color: #D3D3D3;
            font-size: 22px;
            display: none;
            align-items: center;
            justify-content: flex-start;
            z-index: 2;
        }

        .plot {
            position: absolute;
            bottom: 10px;
            left: 25px;
            color: white;
            width: 37%;
            font-family: 'Noto Sans', sans-serif;
            font-size: 18px;
            border-radius: 5px;
            z-index: 4;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        .gradient-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 79%;
            height: 100%;
            background: linear-gradient(to right, rgb(16, 16, 16) 49%, rgba(0, 0, 0, 0) 70%);
            z-index: 2;
        }

        @media only screen and (max-width: 767px) {
            .plot {
                bottom: 1px !important;
                left: 0;
                width: 100% !important;
                font-size: 8px !important;
                border-radius: 1px;
            }
        }
