
/*Featured Iframe fix for padding*/
.featurediframe {margin-top: 1vh;}

/*featured iframe border fix*/
.featurediframe {color: rgba(6, 6, 6, 0) !important;}

/*fix mobile featurediframe*/
@media only screen and (max-device-width: 767px) {.featurediframe {height: 16vh !important;}}

/* THIS IS THE MARKER LINE */

/* Slide styling */
.fade-in {
    opacity: 1 !important;
}

.fade-out {
    opacity: 0 !important;
}
.slide {
    transition: opacity 0.5s ease-in-out; /* Smooth fade transition */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}

/* Active slide styling */
.slide.active {
    opacity: 1;
    display: block;
}

/* Initial styling for slides */
#slides-container {
    display: block;
    position: relative;
    width: 92vw;
    height: 300px;
    overflow: hidden;
    margin: 0 auto;
}


/* Container for slides */
#slides-container {
    position: relative;
    width: 92vw;
    height: 300px;
    overflow: hidden;
    margin: 0 auto;
}

/* Slide focus outline */
.slide:focus {
    outline: 2px solid #fff;
}

/* Backdrop image styling */
.backdrop {
    position: absolute;
    right: 0;
    width: 62%;
    height: calc(100% - -50px);
    object-fit: cover;
    object-position: center 20%;
    border-radius: 5px;
    z-index: 1;
}

/* Logo image styling */
.logo {
    position: absolute;
    top: 31%;
    left: 5%;
    transform: translateY(-50%);
    max-height: 60%;
    max-width: 30%;
    width: auto;
    z-index: 3;
}

/* Featured content styling */
.featured-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: transparent;
    font-family: 'Noto Sans', sans-serif;
    color: #D3D3D3;
    font-size: 22px;
    display: none;
    align-items: center;
    justify-content: flex-start;
    z-index: 2;
}

/* Plot text styling */
.plot {
    position: absolute;
    bottom: 10px;
    left: 25px;
    color: white;
    width: 37%;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14.5px;
    border-radius: 5px;
    z-index: 4;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Gradient overlay styling */
.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 79%;
    height: 100%;
    background: linear-gradient(to right, rgb(16, 16, 16) 49%, rgba(0, 0, 0, 0) 70%);
    z-index: 2;
}

/* Responsive adjustments */
@media only screen and (max-width: 767px) {
    .plot {
        bottom: 1px !important;
        left: 0;
        width: 100% !important;
        font-size: 8px !important;
        border-radius: 1px;
    }
}


/*Featured Iframe fix for padding*/
.featurediframe {margin-top: 1vh;}